*, *:before, *:after {
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type:mandatory;

}
body{
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
    background-color:antiquewhite
}
.header {
    display: flex;
    justify-content: center;
    height: 40rem;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}.header {
    display: flex;
    justify-content: center;
    height: 30rem;
    
}
.contenedor{
    max-width: 120rem;
    
    margin: 0 auto 0 auto;
}
footer{
   
    
    
    text-align: center;
}
.boton {
    display:flex;
   
    color:white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1rem;
    
    font-weight: 400;
    margin-bottom: 2rem;
    
}
@media (max-width: 768px) {
    .centrar {
        display: flexbox;
        font-size: small;
    }
    .campo{
        flex-direction: column;
        justify-content: center;
    }
    .boton{
        flex: content;
    }
    
}
@media (min-width: 768px) {
   
    .boton {
        display: inline-flex;

    }
}
.boton--primario {
    background-color:#000000;
    margin: 10px;
    

}
.formulario {
    background-color:rgb(208, 209, 171);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}
.campo {
    display: flex;
    margin-bottom: 2rem;
    padding: 10px;
}
.campo__label {
    flex:content;
    text-align: right;
    padding-right: 2rem;
    
}